body {
    padding: 0;
    margin: 0;
}
html, body, .container, #map {
    height: 100%;
    width: 100%;
}

#search {
    position:absolute;
    top:10px;
    left: 50px;
    z-index:1000;
}

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-autocomplete-loading {
    background: white url("/static/images/ui-anim_basic_16x16.gif") right center no-repeat;
}
