body {
    padding: 0;
    margin: 0;
}
html, body, .container, #map {
    height: 100%;
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#search_div {
    position:absolute;
    top:10px;
    left: 50px;
    z-index:500;
}

.filter {
    padding: 8px;
    margin: 0;
    background-color: #fff;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    z-index:1000;
}

.ui-autocomplete-loading {
    background: white url("/static/images/ui-anim_basic_16x16.gif") right center no-repeat;
}
